

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: "Poppins", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

html, body{
    scroll-behavior: smooth;
}




  
  .main-hero-container {
    height: 80vh;
    display: flex;
    /* background-color: aqua; */
  }
  
  .main-hero-container h1 {
    text-transform: capitalize;
    font-weight: bolder;
  }
  
  .main-hero-para {
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 3rem 0 5rem 0;
    font-weight: lighter;
    width: 75%;
  }
  
  .main-hero-container h3 {
    font-weight: lighter;
  }
  
  .input-group {
    position: relative !important;
  }
  
  .form-control-text {
    position: absolute;
    height: 5rem;
    border: none;
    outline-style: none;
    padding-left: 1.5rem !important;
    font-size: 1.4rem;
    font-weight: lighter;
  }
  
  .input-group-button {
    position: absolute;
    right: 51%;
    top: 0.5rem;
    color: #fff;
    background-color: var(--primary-color);
    height: 4rem;
    width: 15%;
    border-radius: 2rem !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
  }
  .form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form > h1 {
    margin-bottom: 30px;
  }
  
  .form > input,
  textarea {
    padding: 20px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
    margin-bottom: 20px;
    border: 1px solid lightgray;
    /* border: none; */
    background: #fff;
    font-size: 16px;
    color: rgb(0, 0, 32);
    outline: none;
  }
  
  .form > input:focus,
  textarea:focus {
    border: 1px solid rgb(0, 0, 196);
  }
  
  .form > textarea {
    height: 150px;
    max-width: 400px;
    min-height: 100px;
  }
  
  .form > label {
    padding-bottom: 10px;
    color: rgb(0, 0, 32);
    font-weight: bold;
  }
  
  .form > button {
    padding: 20px;
    border: none;
    background-color: rgb(2, 2, 110);
    font-weight: 500;
    font-size: 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
  }
  
  .form > button:hover {
    background-color: rgb(0, 0, 196);
  }
  .MuiPaper-root{
    width: 80%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
  }
  .column {
    width: 100%;
    padding: 0.5em 0;
  }
  h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #1f003b;
  }
  .card {
    box-shadow: 0 0 2.4em rgba(255, 0, 0, 0.6);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
  }
  .column {
    width: 100%;
    padding: 0.5em 0;
  }
  h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #1f003b;
  }
  .card {
    box-shadow: 0 0 2.4em rgba(255, 0, 0, 0.2);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
  }
  .card .img-container {
    width: 10em;
    height: 8em;
    
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
  }
  .card img {
    width: 100%;
    border-radius: 50%;
  }
  .card h3 {
    font-weight: 500;
  }
  .card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
  }
  .icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
  }
  .card:hover {
    background: linear-gradient(rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.8));
    color: #ffffff;
  }
  .card:hover .img-container {
    transform: scale(1.15);
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .card {
      padding: 5em 1em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }
  }  
  
  /* right side of hero section  */
  
  

@tailwind base;
@tailwind components;
@tailwind utilities;
